.auth {
    position: absolute;
    border: 0.5px solid black;
    width: 15%;
    height: auto;
    margin: 20px 0 0 82%;
    display: block;
    border-radius: 8px;
    background-color: #fff;
}

.auth-content {
    position: relative;
    margin: 10% auto;
}